@import "../variables/index.scss";

@mixin Link {
  @each $prefix, $color in($background) {
    .link-#{$prefix} {
      transition: all 0.3s;
      width: 90px;
      height: 89px;
      &:hover {
        background-color: $color;
      }
    }
  }
}
