$MaxWidth: 1249px;
$MaxWidthBody: 1579px;
$background: (
  danger: #ff3f40,
  light: #f6f2f2,
  dark: #000000,
  none: none,
  white: #ffffff,
  form:#2c2c2c,
);

$WidthInput:521px;
$HeightInput:79px;

$margped: (
  def: 1em,
  sm: 1.5em,
  md: 2em,
  mdl: 2.5em,
  lg: 3em,
  blg: 3.5em,
  auto:auto,
);
